{% extends "./template.html" %}
{% block title %}<title>TurboSport - Productos</title>{% endblock %}
{% block content %}
{% load static %}

<div class="content">
	<p>home</p>
</div>

<script>
	var dropdown = document.getElementsByClassName("filtro-btn");
	var i;

	for (i = 0; i < dropdown.length; i++) {
	  dropdown[i].addEventListener("click", function() {
	  this.classList.toggle("active");
	  var dropdownContent = this.nextElementSibling;
	  if (dropdownContent.style.display === "block") {
	  dropdownContent.style.display = "none";
	  } else {
	  dropdownContent.style.display = "block";
	  }
	  });
	}
</script>

{% endblock %}